<style>

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
a h2.post-title:hover,
a h2.post-title:focus,
a.post-read-more:hover,
a.post-read-more:focus,
a:hover,
a:focus {
  color: #C1272D;
}

div.page-heading h1 {
  color: #5E0A0A
}

iframe.post-vid {
  display: block;
  margin: 0 auto;
}

article p, pre {
  margin-bottom: 20px;
}

article h3 {
  margin-top: 30px;
}

/*CV*/

.cv-contact {
  font-family: monospace;
  text-align: center;
}

.cv-headshot {
  padding: 20px;
}

</style>
